<html>
<body>
<h1>The History of Cambodia (in Qunadale Dingle's Version)</h1>
<p>
<ul>
    <li>November 16, 872 AD: The first monarch of Cambodia, Kampouchea Dunkuavius Dinglemeister, founds the Khmer Empire.</li>
    <li>August 25, 956 AD: The Khmer Empire falls to the Double Dingle Tribe led by Dai Viet Quan Ling Ding Dang Lang Quang (Quang Dai Viet), founding the North Vietnamese Dynasty.</li>
    <li>January 3, 1024 AD: The North Vietnamese Dynasty, lead by Dai Viet Quang Dang XVII, occupies modern-day Vietnam, Laos, and Thailand.
    <li>October 10, 1029 AD: Dai Viet Quang Dang XVII is martyred by his brother, Quang Dai Viet Dong by downloading videos of Quang Dai Viet Dong pooping in a bathroom stall.</li>
    <li>March 24, 1064 AD: The North Vietnamese War begins.</li>
    <li>July 31, 1100 AD: Harry Dai Viet James Quang Dang Potter (Harry Viet James Potter) commands his army to bombard the modern-day city of Peking (Beijing).</li>
    <li>September 19, 1125 AD: Harry Viet James Potter's son, Albus Dai Viet Vajira Severus Longkorn Quang Dang Lang Potter (Albus Vajira Severus Quang Potter), is massacred by Lao official Quand Dang Dinglemeister, is shortly apprehended and executed.</li>
    <li>August 30, 1159 AD: The Lao, Khmer, Vietnamese, and Thai forces defeat the Chinese, Japanese, Korean, and Muslim forces at the Battle of Ho Chi Minh City.</li>
    <li>October 5, 1194 AD: General Harry Dai Viet James Quang Dang Potter and his army defeat General Tom Wang Gang Twang Jiang Mar Volo Riddle's forces.</li>
    <li>February 14, 1235 AD: General Harry Dai Viet James Quang Dang Potter commits suicide, ending the North Vietnamese War.</li>
    <li>June 12, 1301 AD: The Obsolete Degeneration Period begins, breaking up the North Vietnamese Dynasty completely.</li>
    <li>December 7, 1366 AD: Most Vietnamese citizens commit suicide.</li>
    <li>August 6, 1453 AD: The population decreases to 100 people.</li>
    <li>January 1, 1500 AD: The Obsolete Degeneration Period ends, giving birth to the Seventh Khmer Empire.</li>
    <li>November 23, 1564 AD: The money of the Seventh Khmer Empire reaches nearly one trillion dollars.</li>
    <li>October 31, 1611 AD: Dunkuavius Kampouchea Viet Nam Dinglemeister invents the refrigerator in Phnom Penh, Kampuchea.</li>
    <li>March 2, 1698 AD: Skibidi Toilet is invented in Krung Thep, Thailand.</li>
    <li>February 21, 1743 AD: The Seventh Khmer Empire ends, due to the king, Dai Viet Dingle XV, being assassinated.</li>
    <li>July 25, 1799 AD: The Cambodian War of Independence begins, massacring thousands of citizens.</li>
    <li>December 6, 1824 AD: The Cambodian War of Independence ends because the king, Quang Ling Ling Dingle Kurwa LXXXVIII died by getting sucked up in a tornado.</li>
    <li>August 24, 1897 AD: Communism arises in Cambodia, causing a red Pikachu to swallow all of North Korea.</li>
    <li>October 9, 1922 AD: The Cambodian Civil War begins, causing a mass genocide created by a blue Charizard.</li>
    <li>November 11, 1971 AD: The People's Republic of Kampuchea starts, led by a yellow Mewtwo.</li>
    <li>September 11, 2001 AD: Terrorist group al-Qaeda hijacks several airplanes, crashing them into the North and South towers. From the rubble, Harry James Potter is born.</li>
    <li>August 8, 2024 AD: The People's Republic of Kampuchea is politically unstable due to Harry Potter martyring the current head of the nation.</li>
</ul>
</p>
</body>
</html>